// Main footer
.main-footer {
  position: fixed;
  height: $main-footer-height;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  .copyright {
    color: $main-footer-copyright-color;
  }

  @include media-breakpoint-down(sm) {
    display: block !important;
    height: auto;

    .nav {
      width: 100%;
      display: block;
      border-bottom: 1px solid $border-color;
      padding-bottom: $spacer / 2;
    }

    .copyright {
      display: inline-block;
      width: 100%;
      padding: 1rem;
      text-align: center;
    }
  }
}// Main footer
.main-footer {
  position: fixed;
  height: $main-footer-height;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  .copyright {
    color: $main-footer-copyright-color;
  }

  @include media-breakpoint-down(sm) {
    display: block !important;
    height: auto;

    .nav {
      width: 100%;
      display: block;
      border-bottom: 1px solid $border-color;
      padding-bottom: $spacer / 2;
    }

    .copyright {
      display: inline-block;
      width: 100%;
      padding: 1rem;
      text-align: center;
    }
  }
}